body {
  text-align: center;
}
#main {
  display: block;
  width: 500px;
  margin: 50px auto;
  padding: 15px;
  text-align: center;
  border: 1px solid #999;

  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(150, 150, 150);

  background: -webkit-linear-gradient(top, #fff 50%, #006699 90%);
  background: -moz-linear-gradient(top, #fff 50%, #006699 90%);
  background: linear-gradient(top, #fff 50%, #006699 90%);
}
#title {
  font: bold 36px MyFont, sans-serif;
  text-shadow: 3px 3px 5px rgb(0, 0, 150);
}
@font-face {
    font-family: 'MyFont';
    src: url('font.ttf');
}
