#cajasoltar {
  float: left;
  width: 500px;
  height: 300px;
  margin: 10px;
  border: 1px solid #999;
}
#cajaimagenes {
  float: left;
  margin: 10px;
  border: 1px solid #999;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cajaimagenes > img {
  float: left;
  padding: 5px;
  width: 100px;
}
